
body {
	background-color: #ffe9ec;
	margin-left: 30%;
	margin-right: 30%;
	border: 2px dotted white;
	padding: 20px 20px 20px 20px;
	font-family: "Lucida Handwriting", "Courier New", monospace;
						
}

@font-face {
	font-family: "Remachine Script";
	src: url("https://www.1001freefonts.com/remachine-script.font"
}