	body {
			background-color: #fffbd9;
			margin-left: 30%;
			margin-right: 30%;
			border: 2px dotted white;
			padding: 20px 20px 20px 20px;
			font-family: "Lucida Handwriting", "Courier New", monospace;
						
		}